.calendly-inline-widget{
	width: 98.5vw !important;
}

@media all and (min-width: 1015px) {
	.calendly-inline-widget{
		min-height: 646px !important
	}
}

#onetrust-consent-sdk{
	display: none !important;
}

.typed-cursor {
	color: #6C63FF;
}

li.css-0 {
	max-width: 415px;
}